/*
Theme Name: Mayur
Text Domain: mayur
Version: 1.8
Requires at least: 4.7
Requires PHP: 5.2.4
Description: Our default theme for 2020 is designed to take full advantage of the flexibility of the block editor. Organizations and businesses have the ability to create dynamic landing pages with endless layouts using the group and column blocks. The centered content column and fine-tuned typography also makes it perfect for traditional blogs. Complete editor styles give you a good idea of what your content will look like, even before you publish. You can give your site a personal touch by changing the background colors and the accent color in the Customizer. The colors of all elements on your site are automatically calculated based on the colors you pick, ensuring a high, accessible color contrast for your visitors.
Tags: blog, one-column, custom-background, custom-colors, custom-logo, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, block-patterns, block-styles, wide-blocks, accessibility-ready
Author: the WordPress team
Author URI: https://wordpress.org/
Theme URI: https://wordpress.org/themes/twentytwenty/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

All files, unless otherwise stated, are released under the GNU General Public
License version 2.0 (http://www.gnu.org/licenses/gpl-2.0.html)

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned
with others.
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

    0.  CSS Reset
    1.  Document Setup
    2.  Element Base
    3.  Helper Classes
    4.  Site Header
    5.  Menu Modal
    6.  Search Modal
    7.  Page Templates
        a.  Template: Cover Template
        c.  Template: Full Width
    8.  Post: Archive
    9.  Post: Single
    10. Blocks
    11. Entry Content
    12. Comments
    13. Site Pagination
    14. Error 404
    15. Widgets
    16. Site Footer
    17. Media Queries

----------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */

/*  0. CSS Reset
/* -------------------------------------------------------------------------- */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/*own css*/
body{font-family: 'Nunito', sans-serif;}
h1 ,h2 ,h3 ,h4 ,h5 ,h6 , p{color: #745a82;font-family: 'Nunito', sans-serif;}
.top_line{height: 16px;background-color: #765c85;width: auto;}
.wrapper{max-width: 1050px;margin: 0 auto;}
.head{height: 112px;}
.logo{max-width: 250px;float: left;}
.logo img{margin: 15px 0 0 0;}
.mainmenu{float: right;margin: 60px 0 0 0;}
header{clear: both;background-color: #ffffff;}
.mainmenu ul li{display: inline-block;margin-right: 40px;color: #745a82;font-size: 25px;font-weight: bold;
                text-transform: capitalize;position: relative;}
.mainmenu ul li:last-child{margin-right: 0;}
.mainmenu ul li a{color: #745a82;font-size: 25px;font-weight: bold;
                text-transform: capitalize;text-decoration: none;}
.sub-menu{display: none; position: absolute;top: 25px;left: 0;z-index: 1;background-color: white;}
.mainmenu .sub-menu ul li{display: block;margin: 0;}
.mainmenu ul li ul.sub-menu li a{padding:10px 15px;float: none;display: block;text-align: center;
    border: 1px solid;}
.mainmenu ul li:hover .sub-menu{display: block;visibility: visible;}
.mainmenu ul li ul.sub-menu li{margin: 0;}
.top_sec{background-image: url(../images/top_bg.jpg);background-size:cover;background-repeat: no-repeat;
    width: 100%;height:auto;padding: 90px 0;}
.circle_img{background-image: url(../images/circle.png);background-repeat: no-repeat;
    max-width: 702px;height:702px;margin: 0 auto;text-align: center;background-size: cover;}
p{font-size: 25px;font-weight: bold;color: #745a82;}
h1{font-size: 58px;font-weight: bold;color:#745a82 ;text-transform: uppercase;text-align: center;
    margin-bottom: 50px;}
h3{font-size: 58px;font-weight: bold;color:#745a82 ;text-transform: uppercase;}
h2{font-size: 41px;font-weight: lighter;color:#745a82 ;text-transform: capitalize;}
.circle_img h2{padding-top: 215px;}
.circle_img h3{padding: 55px 0 45px 0;}
.circle_img p{line-height: normal;}
.row2{position: relative;padding: 90px 0 70px 0;}
.row2top{background-image: url(../images/row2_top.png);background-size:contain;background-repeat: no-repeat;
    width: 100%;height:250px;padding:0;position: absolute;top: 0;z-index: -1;}
.row2 h2{padding:90px auto 0 auto;text-align: center;text-transform: uppercase;line-height: normal;}
.row2 h3{text-align: center;margin-bottom: 100px;}
.row2 ul{display: inline-block;width: 30%;margin: 0 45px  0 0;}
.row2 ul:nth-last-child(2){margin-right: 0 !important;}
.row2 ul li{ list-style-type: none;}
.row2 ul li img{border-radius: 100%;max-width: 275px;max-height: 275px;}
.row2 ul li h4{font-size: 33px;font-weight: bold;text-transform: capitalize;margin: 55px 0 20px;}
.row2 ul li {font-size: 25px;font-weight: lighter;color: #745a82;}
.row2 ul li h5{font-size: 27px;font-weight: bold;text-transform: capitalize;margin: 30px 0 0 0;
    padding: 20px 0 0 0;border-top: 1px solid #745a82;}
.row2 ul li h5 span{font-size: 27px;font-weight: lighter;}
.row2 p{clear: both;display: block;text-align: center;}
.row2 a{color: #ffffff;background-color:#745a82 ;letter-spacing: 10px;text-transform: uppercase;
padding: 25px 60px;margin: 75px auto 0 ;clear: both;text-decoration: none;display: inline-block;
border-radius: 30px;}
.row3{background-image: url(../images/row3_bg.jpg);background-size:contain;background-repeat: no-repeat;
    width: 100%;height:970px;padding:0;}
.row3 h2{font-size: 50px;font-weight: bold;color: #FFFFFF;padding: 460px 0 0 0;text-transform: uppercase;
letter-spacing: 5px;}
.row3 h3{font-size: 50px;font-weight: normal;color: #FFFFFF;padding: 0 0 50px 0;letter-spacing: 5px;}
.row3 p{font-size:25px;font-weight: bold;color: #FFFFFF;letter-spacing: 5px;line-height: 40px;}

/**row4**/
.row4{position: relative;margin: 0 0 70px 0;}
.corner_l{position: absolute;top: 0;left: 0;background-image: url(../images/corner1.png);width: 725px;
height: 725px;z-index: -1;background-repeat: no-repeat;}
.row4_sec{padding: 155px 0 0 0;}
.clearfix {
  overflow: hidden;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.row4_sec_l , .row4_sec_r{width: 50%;}
.row4_sec_l{float: left;}
.row4_sec_r{float: right;text-align: center;}
.row4 img{margin: 0 auto;border-radius: 100%;max-width: 450px;max-height: 450px;}
.row4 h2 , .row4 h3 , .row4 h4{text-transform: uppercase;}
.row4 h2{margin-bottom: 85px;}
.row4 h4{margin-bottom: 40px;font-size: 33px;font-weight: lighter;}
.row4 h4 span{font-weight: bold;font-size: 33px;}
.row4 p{font-size: 25px;font-weight: normal;line-height: 45px;}
.row4 span{color: #745a82;font-weight: bold;font-size: 25px;line-height: 41px;}
.row4 .hr{border:1px solid #907b9b;margin: 40px 0;}
.demo_text{margin: 50px 0 0 0;}
.fl{float: left;}
.fr{float: right;}
.demo_text .fl , .demo_text .fr{width: 50%;}
.demo_text p{line-height: 33px;font-size: 25px;font-weight: bold;}
.demo_text p > span{font-weight: lighter;display: block;}

/**row5**/
.corner_r{position: absolute;top: 0;right: 0;background-image: url(../images/corner2.png);width: 725px;
height: 725px;z-index: -1;background-repeat: no-repeat;}

/**row6**/
.row6{text-align: center;}
.row6 h2{text-transform: uppercase;font-size: 33px;margin: 0 0 100px;}
.row6 span{position: relative;margin: 0 auto 15px;text-align: center;font-size: 33px;text-transform: uppercase;
font-weight: bolder;color: #745a82;line-height: 45px;display: block;}
.row6 span::before{content: '';background: url(../images/border.jpg);height: 1px;background-repeat: repeat-x;
width:40%;left: 0;top:20px;position: absolute;}
.row6 span::after{content: '';background: url(../images/border.jpg);height: 1px;background-repeat: repeat-x;
width:40%;right: 0;top: 20px;position: absolute;}
.widget{text-align: center;}
.widget a{font-size: 25px;font-weight: bold;line-height: 45px;color: #745a82;display: block;
    margin: 0 0 40px 0;text-decoration: none;}
.widget ul li{display: inline-block;width: 33%;}
.widget p{font-size: 25px;font-weight: lighter;line-height: 37px;color: #745a82;display: block;}
.widget br{display: none;}
.widget ul li{font-size: 25px;font-weight: lighter;line-height: 37px;color: #745a82;}



/**row8**/
.row8{position: relative;}
.row8 img{border-radius: 100%;max-width: 385px;max-height: 385px;}
.row8 h2{font-size: 50px;font-weight: normal;line-height: 58px;text-transform: uppercase;}
.row8 h3{font-size: 50px;font-weight: bold;line-height: 58px;margin: 0 0 50px;}
.row8 p{font-size: 25px;font-weight: bold;line-height: 41px;}
.row8 span{font-size: 25px;font-weight: lighter;line-height: 41px;color: #745a82;margin: 25px 0 0 0;
display: block;}
.v_left , .v_right{position: absolute;}
.row8 .v_left{left: 20px;writing-mode: vertical-rl;text-orientation: upright;font-size: 14px;line-height: 33px;
text-transform: uppercase;font-weight: bold;margin: 0;top: 150px;letter-spacing:10px;}
.row8 .v_right{right: 20px;writing-mode: vertical-rl;text-orientation: upright;font-size: 20px;line-height:45px;
text-transform: uppercase;font-weight: normal;margin: 0;top: 265px;letter-spacing: 5px;}


/***********************Footer************************/
.main_footer{margin: 15px 0 0 0;padding: 0 0 85px;}
.footer_line{background-image: url(../images/footer_bg.png);background-size:contain;background-repeat: no-repeat;
    width: 100%;height:480px;position: absolute;top: 0;left: 0;right: 0;z-index: -1;}
.main_footer{position: relative;}
.footer_1{margin:250px auto 0;display: block;text-align: center;}
.footer_1 p{font-size: 25px;line-height: 41px;font-weight: bold;text-transform: uppercase;width:60%;
text-align: center;margin: 0  auto;}
.footer_2{margin: 80px 0 0 0;}
.footer_2 h2{font-size: 25px;color: #70577d;line-height: 33px;text-transform: uppercase;margin: 0 0 20px;
font-weight: bold;}
.footer_2 p{font-size: 20px;color: #70577d;line-height:29px;margin: 0 0 45px;
font-weight: lighter;letter-spacing: 0;}
.footer_bg{background-color:#70577d; height: 40px;position: absolute;bottom: 0;width:100%;left: 0;right: 0;}
.footer_2 ul li{display: inline-block;width: 30%;}
.footer_2 ul li h2{font-size: 20px;line-height: 33px;margin:40px 0;}
.footer_2 ul li a{display: block;color: #70577d;text-decoration: none;line-height:25px;font-size: 16px;
font-weight: lighter;}
.tagcloud a{display: block;color: #70577d;text-decoration: none;line-height:25px;font-size: 16px !important;
font-weight: lighter;margin: 0;}
.tagcloud{margin-bottom: 25px;}
.footer_2 .row4_sec_l .widget{text-align: left;}
.footer_2 .widget ul li a{margin: 0;}

/****post******/
.site_sec .row2 .archive-header , .site_sec .row2 .post a{font-size: 20px;
font-weight: bold;padding: 0;background-color: unset;letter-spacing: normal;line-height: normal;
line-height: 45px;
color: #745a82;
display: block;
margin: 0 0 20px 0;
text-decoration: none;}


/***************************Responsive css*****************************/
@media only screen and (min-device-width: 768px) and (max-device-width: 1050px){

.wrapper{padding: 0 15px;}
/***header***/
.mainmenu ul li{margin-right: 20px;font-size: 20;}
.mainmenu ul li a{font-size:2.5vw;}

/**row1**/
.top_sec{padding: 40px 0;}
.circle_img{max-width: 500px;height: 500px;}
.circle_img h2 , .circle_img h3{font-size: 20px;}
.circle_img p{font-size: 15px;}
.circle_img h2{padding-top: 140px;} 
.circle_img h3{margin: 10px 0;line-height: normal;padding: 5px 0;}
.circle_img p{margin: 10px 0;line-height: normal;padding: 5px 0;}

/**row2**/
.row2{padding: 45px 0;}
.row2top{background-size: contain;}
.row2 ul{margin:0;text-align: center;width: 32%;}
.row2top{height: 190px;}
.row2 h3{margin: 0 0 50px;font-size: 35px;}
.row2 h2{font-size: 30px;}
.row2 ul li h4{font-size:25px;margin: 20px 0;}
.row2 ul li , .row2 ul li h5{font-size: 20px;}
.row2 ul li img{max-height: 170px;max-width: 170px;}
.row2 a{padding: 15px 30px;font-size: 20px;letter-spacing: 5px;margin: 35px 0 0 0;}

/****row3*****/
.row3 h2{padding: 300px 0 0 0;background-size: cover;}
.row3{max-height: 800px;background-position: center;}
.corner_l , .corner_r{display: none;}
.row4_sec{padding: 10px 0;}

/*****row4*****/
.row4 h2, .row4 h3, .row4 h4{font-size: 25px;margin: 5px 0;padding: 5px 0;}
.row4 p , .row4 span{font-size: 20px;line-height: normal;}
.row4 .hr , .demo_text{margin: 10px 0;}
.row4 img{max-height: 350px;max-width: 350px;}

/*****row6******/
.widget ul li{width: 32%;}
.row6 span{font-size: 25px;}
.row6 h2{font-size: 25px;margin: 0 0 30px 0;}
.widget a{margin: 0 0 15px 0;}
.widget ul li{font-size: 20px;line-height: normal;}

/****row8*****/
.row8{text-align: center;}
.row8 h2 , .row8 h3{font-size: 25px;margin: 0 0 10px;line-height: normal;}
.row8 p{font-size: 18px;line-height: normal;}
.row8 img{max-width: 275px;}
.row8 .v_left{left: 10px;letter-spacing: 5px;font-size: 10px;top: 80px;}
.row8 .v_right{right: 10px;letter-spacing: 5px;font-size: 8px;line-height: normal;top: 100px;}


/*****Footer*******/
.main_footer{padding: 0 0 15px 0;}
.footer_line{background-size: contain;}
.footer_1{margin: 150px 0 0 0;}
.footer_1 p{font-size: 20px;line-height: 25px;}
.footer_2 ul li h2{margin:20px 0;}


}




@media only screen and (min-device-width:480px) and (max-device-width: 768px){

.wrapper{padding: 0 15px;}
/***header***/
.mainmenu ul li{margin-right: 20px;font-size: 20;}
.mainmenu ul li a{font-size:2.5vw;}

/**row1**/
.top_sec{padding: 40px 0;}
.circle_img{max-width: 500px;height: 500px;}
.circle_img h2 , .circle_img h3{font-size: 20px;}
.circle_img p{font-size: 15px;}
.circle_img h2{padding-top: 140px;} 
.circle_img h3{margin: 10px 0;line-height: normal;padding: 5px 0;}
.circle_img p{margin: 10px 0;line-height: normal;padding: 5px 0;}

/**row2**/
.row2{padding:30px 0;}
.row2top{background-size: contain;}
.row2 ul{margin:0;text-align: center;width: 32%;}
.row2top{height: 190px;}
.row2 h3{margin: 0 0 50px;font-size: 35px;}
.row2 h2{font-size: 30px;}
.row2 ul li h4{font-size:25px;margin: 20px 0;}
.row2 ul li , .row2 ul li h5{font-size: 20px;}
.row2 ul li img{max-height: 170px;max-width: 170px;}
.row2 a{padding: 15px 30px;font-size: 20px;letter-spacing: 5px;margin: 35px 0 0 0;}

/****row3*****/
.row3 h2{padding: 300px 0 0 0;background-size: cover;}
.row3{max-height: 650px;background-position: center;}
.corner_l , .corner_r{display: none;}
.row4_sec{padding: 10px 0;}

/*****row4*****/
.row4 h2, .row4 h3, .row4 h4{font-size: 25px;margin: 5px 0;padding: 5px 0;}
.row4 p , .row4 span{font-size: 20px;line-height: normal;}
.row4 .hr , .demo_text{margin: 10px 0;}
.row4 img{max-height: 280px;max-width: 280px;}

/*****row6******/
.widget ul li{width: 32%;}
.row6 span{font-size: 25px;}
.row6 h2{font-size: 25px;margin: 0 0 30px 0;}
.widget a{margin: 0 0 15px 0;}
.widget ul li{font-size: 20px;line-height: normal;}

/****row8*****/
.row8{text-align: center;}
.row8 h2 , .row8 h3{font-size: 25px;margin: 0 0 10px;line-height: normal;}
.row8 p{font-size: 18px;line-height: normal;}
.row8 img{max-width: 275px;}
.row8 .v_left{left: 10px;letter-spacing: 5px;font-size: 10px;top: 80px;}
.row8 .v_right{right: 10px;letter-spacing: 5px;font-size: 8px;line-height: normal;top: 100px;}


/*****Footer*******/
.main_footer{padding: 0 0 15px 0;}
.footer_line{background-size: contain;}
.footer_1{margin: 150px 0 0 0;}
.footer_1 p{font-size: 20px;line-height: 25px;}
.footer_2 ul li h2{margin:20px 0;}


}





.mainmenu .icon {display: none;}
.menu li i{display: none;}
@media only screen and (max-device-width: 480px) {


/*********header************/
.logo {max-width: 100%;float: none;text-align: center;}
.head{height: auto;}

.menu{display: none;}
.mainmenu a{color: ##765C85;}
.mainmenu a i{color: ##765C85 !important;}
.mainmenu{float: none;margin: 30px 0;}
.menu.responsive {position: absolute;display: block;background-color: white;top: 21px;width: 100%;}

.mainmenu ul li{margin: 0;}
  .topnav.responsive .icon {
    position: absolute;
    right:15px;
    top: 0;display: block;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: center;
    padding: 10px 0;
border: 1px solid;
  }
  .mainmenu a:not(:first-child) {display: none;}
  .mainmenu a.icon {
    float: right;
    display: block;position: absolute;
top: 30px;
right: 30px;
font-size:30px;
color: #765C85;
  }

  .mainmenu ul li{display: block;}
  .sub-menu{position: relative;top: 0;display: none;}
  .sub-menu.block{display: block;}
  .menu li i{position: absolute;right: 20px;top:6px;display: inline-block;font-size: 38px;}

/**row1**/
.top_sec{padding: 25px 0;}
.circle_img{max-width: 320px;height: 320px;}
.circle_img h2 , .circle_img h3{font-size: 20px;}
.circle_img p{font-size: 15px;}
.circle_img h2{padding-top: 80px;} 
.circle_img h3{margin: 10px 0;line-height: normal;padding: 5px 0;}
.circle_img p{margin:5px 0;line-height: normal;padding:0;}

/**row2**/
.row2{padding:15px 0;}
.row2top{background-size: contain;max-height: 120px;}
.row2 ul{margin:15px 0;text-align: center;width:100%;}
.row2 h3{margin: 0 0 15px;font-size:15px;}
.row2 h2{font-size:15px;}
.row2 ul li h4{font-size:15px;margin: 20px 0;}
.row2 ul li , .row2 ul li h5{font-size:15px;}
.row2 ul li img{max-height:200px;max-width:200px;}
.row2 a{padding: 15px 30px;font-size: 20px;letter-spacing: 5px;margin: 15px 0 0 0;}

/****row3*****/
.row3 h2{padding: 150px 0 0 0;font-size: 15px;}
.row3 h3{font-size: 15px;padding: 0 0 30px;}
.row3{max-height:350px;background-position: center;text-align: center;}
.corner_l , .corner_r{display: none;}
.row4_sec{padding: 10px 0;}
.row3 p{font-size: 10px;line-height: normal;}

/*****row4*****/
.row4{text-align: center;margin: 0 0 20px 0;}
.row4 h2, .row4 h3, .row4 h4{font-size:15px;margin: 5px 0;padding: 5px 0;}
.row4 h4 span{font-size: 15px;}
.row4 p , .row4 span{font-size:13px;line-height: normal;}
.row4 .hr , .demo_text{margin: 10px 0;}
.row4 img{max-height: 300px;max-width: 300px;}
.row4_sec_l , .row4_sec_r{width: 100%;}

/*****row6******/
.widget ul li{width:100%;}
.row6 span{font-size: 15px;}
.row6 h2{font-size: 15px;margin: 0 0 15px 0;}
.widget a{margin: 0 0 15px 0;}
.widget ul li{font-size: 15px;line-height: normal;}

/****row8*****/
.row8{text-align: center;}
.row8 h2 , .row8 h3{font-size: 25px;margin: 0 0 10px;line-height: normal;}
.row8 p{font-size: 18px;line-height: normal;}
.row8 img{max-width: 275px;}
.row8 .v_left{left: 10px;letter-spacing: 5px;font-size: 10px;top: 80px;}
.row8 .v_right{right: 10px;letter-spacing: 5px;font-size: 8px;line-height: normal;top: 100px;}

/*****Footer*******/
.main_footer{padding: 0 0 15px 0;text-align: center;}
.footer_line{background-size: contain;}
.footer_1{margin: 60px 0 0 0;}
.footer_1 p{font-size: 13px;line-height: 15px;}
.footer_2 ul li h2{margin:10px 0;}
.footer_2 p{margin: 0 0 25px;}
.footer_2 .row4_sec_l .widget{text-align: center;}
.footer_bg{height: 16px;}

}


/*
@media only screen 
and (min-width : 321px) and (orientation : landscape)
{

}

@media only screen 
and (max-width : 320px) and (orientation : portrait)
{
}*/

